public/vidado.wsdl

<!--  
(c) Vidado Corp
2022-06-28
Permite a comunicação com a base de dados da Vidado

Online WSDL 1.1 SOAP generator 0.2
Julien Blitte
  -->
<definitions xmlns:tns="vidado.service.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="vidado.service.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Permite a comunicação com a base de dados da Vidado" targetNamespace="vidado.service.wsdl">
    <!--  definition of datatypes  -->
    <types>
        <schema xmlns="http://www.w3.org/2000/10/XMLSchema" targetNamespace="vidado.service.xsd">
            <element name="codigos">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
            <element name="termo">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
            <element name="data_inicial">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
            <element name="data_final">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
            <element name="lojas">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
            <element name="resultado">
                <complexType>
                    <all>
                        <element name="value" type="string" />
                    </all>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  response messages  -->
    <message name="returns_resultado">
        <part name="resultado" type="xsd:resultado" />
    </message>
    <!--  request messages  -->
    <message name="get_lojas">
        <part name="codigos" type="xsd:codigos" />
    </message>
    <message name="get_grupos">
        <part name="codigos" type="xsd:codigos" />
    </message>
    <message name="get_produtos">
        <part name="codigos" type="xsd:codigos" />
    </message>
    <message name="get_produtos_por_termo">
        <part name="termo" type="xsd:termo" />
    </message>
    <message name="get_faturamento_por_dia">
        <part name="data_inicial" type="xsd:data_inicial" />
        <part name="data_final" type="xsd:data_final" />
        <part name="lojas" type="xsd:lojas" />
    </message>
    <message name="get_faturamento_por_mes">
        <part name="data_inicial" type="xsd:data_inicial" />
        <part name="data_final" type="xsd:data_final" />
        <part name="lojas" type="xsd:lojas" />
    </message>
    <message name="get_vendas_por_horario">
        <part name="data_inicial" type="xsd:data_inicial" />
        <part name="data_final" type="xsd:data_final" />
        <part name="lojas" type="xsd:lojas" />
    </message>
    <message name="get_mais_vendidos_por_grupo">
        <part name="data_inicial" type="xsd:data_inicial" />
        <part name="data_final" type="xsd:data_final" />
        <part name="lojas" type="xsd:lojas" />
    </message>
    <message name="get_produto_mais_vendido">
        <part name="data_inicial" type="xsd:data_inicial" />
        <part name="data_final" type="xsd:data_final" />
        <part name="lojas" type="xsd:lojas" />
    </message>
    <!--  server's services  -->
    <portType name="Vidado">
        <operation name="get_lojas">
            <input message="tns:get_lojas" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_grupos">
            <input message="tns:get_grupos" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_produtos">
            <input message="tns:get_produtos" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_produtos_por_termo">
            <input message="tns:get_produtos_por_termo" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_faturamento_por_dia">
            <input message="tns:get_faturamento_por_dia" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_faturamento_por_mes">
            <input message="tns:get_faturamento_por_mes" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_vendas_por_horario">
            <input message="tns:get_vendas_por_horario" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_mais_vendidos_por_grupo">
            <input message="tns:get_mais_vendidos_por_grupo" />
            <output message="tns:returns_resultado" />
        </operation>
        <operation name="get_produto_mais_vendido">
            <input message="tns:get_produto_mais_vendido" />
            <output message="tns:returns_resultado" />
        </operation>
    </portType>
    <!--  server encoding  -->
    <binding name="Vidado_webservices" type="tns:Vidado">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="get_lojas">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_lojas" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_grupos">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_grupos" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_produtos">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_produtos" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_produtos_por_termo">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_produtos_por_termo" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_faturamento_por_dia">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_faturamento_por_dia" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_faturamento_por_mes">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_faturamento_por_mes" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_vendas_por_horario">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_vendas_por_horario" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_mais_vendidos_por_grupo">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_mais_vendidos_por_grupo" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="get_produto_mais_vendido">
            <soap:operation soapAction="urn:xmethods-delayed-quotes#get_produto_mais_vendido" />
            <input>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <!--  access to service provider  -->
    <service name="ReportService">
        <port name="ReportService_0" binding="Vidado_webservices">
            <soap:address location="http://localhost:3000" />
        </port>
    </service>
</definitions>